body {
    margin-top: 60px;
    /*padding-top: 60px;*/
    font-family: 'Dosis', sans-serif;
    background:lightsteelblue;

}

.specialFont{
    font-family: 'Lobster', cursive;
}

.navbar-default > .container-fluid{
    background-color: white;
}

.nav > li > a:hover{
    border-bottom: 2px solid darkred;

}

.activeBorder {
    border: green 2px solid;
}
.inActiveBorder {
    border: red 2px solid;
}

.mtl{
    margin-top: 20px;
}

.txt-right{
    text-align: right;
}

.mbl{
    margin-bottom: 20px;
}

.mbl{
    margin-bottom: 20px;
}

.pdtl{
    padding-top: 10px;
}

.img-wrapper{

}

.img-wrapper .glyphicon-ok{
    position: absolute;
    top: 170px;
    left: 220px;
    color: green;
    font-size: 40px;
}

.img-wrapper .glyphicon-remove{
    position: absolute;
    top: 170px;
    left: 220px;
    color: coral;
    font-size: 40px;
}
