body {
    padding-top: 60px;
    font-family: 'Dosis', sans-serif;
    /*background: lightgrey;*/
}

.specialFont{
    font-family: 'Lobster', cursive;
}

.navbar-default > .container-fluid{
    background-color: yellow;
}

.nav > li > a:hover{
    border-bottom: 2px solid darkred;

}

.activeBorder {
    border: green 2px solid;
}
.inActiveBorder {
    border: red 2px solid;
}